absl-py==2.5.0
colorama==0.4.6
etils==1.14.0
fsspec==2026.6.0
glfw==2.10.0
iniconfig==2.3.0
mujoco==3.10.0
numpy==2.4.6
opencv-contrib-python==5.0.0.93
packaging==26.2
pluggy==1.6.0
pygments==2.20.0
pyopengl==3.1.10
pytest==9.1.1
typing-extensions==4.16.0
zipp==4.1.0
